.header {
  flex-shrink: 0;
  border-bottom: 1px solid #999;
  >p {
    height: .6rem;
    line-height: .6rem;
    padding-left: 12%;
    font-size: .18rem;
  }
}

@media (max-width: 640px) {
  .header {
    p {
      padding: 0;
      text-align: center;
    }
  }
}